# log dirs
log
derive

.vscode

# saved model path
supernet/selected_supernets
#  __pycache__
__pycache__
predictors/__pycache__
integrated_models/__pycache__

transbench/data/high_fidelity/tmp
visualization

nn_robust_attacks/

experiments/cifar_ten_models